<!-- @format -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Secrets</title>
    <link rel="stylesheet" href="assets/fontawesome/all.css" />
    <link rel="stylesheet" href="assets/fontawesome/all.min.css" />
    <link rel="stylesheet" href="assets/fontawesome/fontawesome.css" />
    <link rel="stylesheet" href="assets/fontawesome/regular.css" />
    <link rel="stylesheet" href="assets/fontawesome/solid.css" />
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-social.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body></body>
</html>
